@page "/"
@inject IJSRuntime JS
@implements IAsyncDisposable

<link rel="stylesheet" href="./css/openlayer/ol.css" />
<link rel="stylesheet" href="./css/fontawesome/css/fontawesome.css" />
<link rel="stylesheet" href="./css/fontawesome/css/solid.css" />
<style>
    .map {
        width: 100%;
        height: 1040px;
        border-style: solid;
        border-width: 1px;
        margin-top: 5px;
    }

    .select-draw {
        top: 65px;
        left: .5em;
    }

    .select-draw .select-draw-select {
        border-radius: 2px 2px 0 0;
    }

    .select-draw .select-draw-draw {
        border-radius: 0 0 0 0;
    }

    .select-draw .select-draw-cut {
        border-radius: 0 0 2px 2px;
    }
</style>

<DxFormLayout CssClass="w-100">
    <DxFormLayoutItem Caption="Red:">
        <DxSpinEdit @bind-Value="@red" Id="R" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Green:">
        <DxSpinEdit @bind-Value="@green" Id="G" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Blue:">
        <DxSpinEdit @bind-Value="@blue" Id="B" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Alpha:">
        <DxSpinEdit @bind-Value="@alpha" Id="A" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="zIndex:">
        <DxSpinEdit @bind-Value="@zIndex" Id="zIndex" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="">
        <DxButton Text="Set" Id="zIndexBtn" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Location:">
        <DxTextBox @bind-Text="@location" Id="location" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="">
        <DxButton Text="Set" Id="locationBtn" />
    </DxFormLayoutItem>
</DxFormLayout>
<div id="map" class="map" tabindex="0"></div>
<div id="coordinates"></div>
<button id="selectbtn">Select</button>
<button id="drawbtn">Draw</button>

@code {
    private IJSObjectReference? module;
    private int red = 125;
    private int green = 125;
    private double alpha = 0.5;
    private int blue = 125;
    private int zIndex;
    private string location = string.Empty;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (module == null)
            {
                module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/index.bundle.js");
            }
        }
    }

    //protected async Task AddSelectInteraction()
    //{
    //    Console.WriteLine("click select feature button");
    //    if (module != null)
    //        await module.InvokeVoidAsync("onSelectFeature");
    //}

    //protected async Task AddDrawInteraction()
    //{
    //    Console.WriteLine("click draw feature button");
    //    if (module != null)
    //        await module.InvokeVoidAsync("onDrawFeature");
    //}

    public async ValueTask DisposeAsync()
    {
        if (module != null)
            await module.DisposeAsync();
    }
}

